<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Map Testing</title>
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel = "stylesheet" href = "{{ url_for('static', filename='css/menucss.css') }}"/>
</head>
<body>

    <!-- inside the sidebar -->
    <!-- just temporary I want to have sliders or checkboxes -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div style="color:rgb(196, 196, 196);">
	    <button class="dropdown-btn">Transport
			<i class="fa fa-caret-down"></i>
	    </button>
	    <div class="dropdown-container">
			<input type="radio" id="walk" name="transport" value="walk">
			<label for="walk">Walking</label><br>
			<input type="radio" id="bike" name="transport" value="bike">
			<label for="bike">Biking</label><br>
			<input type="radio" id="bus" name="transport" value="bus">
			<label for="bus">Bus</label><br><br>
			<p>Bike Lane Stress</p>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                <p>Value: <span id="demo"></span></p>
	    </div>
	    <button class="dropdown-btn">Road Types
			<i class="fa fa-caret-down"></i> 
	    </button>
	    <div class="dropdown-container">
	    <ul>
		    <input type="checkbox" id="Event" name="Event" value="C1">
		    <label for="Event">Event/Festival Streets</label><br>

		    <input type="checkbox" id="UrbanCenter" name="UrbanCenter" value="C2">
		    <label for="UrbanCenter">Urban Center Streets</label><br>

		    <input type="checkbox" id="EnhancedNeighborhood" name="EnhancedNeighborhood" value="C3">
		    <label for="EnhancedNeighborhood">Enhanced Neighborhood Streets</label><br>

		    <input type="checkbox" id="CommercialBusiness" name="CommercialBusiness" value="C4">
		    <label for="CommercialBusiness">Commercial Business Streets</label><br>

		    <input type="checkbox" id="NeighborhoodBusiness" name="NeighborhoodBusiness" value="C5">
		    <label for="NeighborhoodBusiness">Neighborhood Business Streets</label><br>
		    <input type="checkbox" id="CityConnector" name="CityConnector" value="C6">
		    <label for="CityConnector">City Connector Streets</label><br>
		    <input type="checkbox" id="DowntownMain" name="DowntownMain" value="C7">
		    <label for="DowntownMain">Downtown Main Streets</label><br>
		    <input type="checkbox" id="NeighborhoodNetwork" name="NeighborhoodNetwork" value="C8">
		    <label for="NeighborhoodNetwork">Neighborhood Networks</label><br>
		    <input type="checkbox" id="Local" name="Local" value="C9">
		    <label for="Local">Local Neighborhoods</label><br>
		</ul>
	    </div>
	    <button class="dropdown-btn">Amenities
			<i class="fa fa-caret-down"></i> 
	    </button>
	    <div class="dropdown-container">
			
	    </div>
            <a href="#">Reset</a>
            <a href="#">Help</a>
            <a href="#">About</a>
        </div>
    </div>

    <!-- sidebar button -->
    <div id="main">
        <span id='openNav' style="font-size:30px;cursor:pointer">&#9776;</span>
    </div>

    <!-- for the actual map -->
    <div id = "map" style = "margin:auto;"></div>
    <button id="chngLayer">Layer</button>

    <!-- js for the map -->
    <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <script src="{{ url_for('static', filename='javascript/map.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/marker.js') }}"></script>
    <script>
        // js for sidebar
        function openNav() {
            document.getElementById("mySidenav").style.width = "275px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            document.getElementById("main").style.opacity = 0;
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            document.body.style.backgroundColor = "white";
            document.getElementById("main").style.opacity = 1;
        }
        
        // js for slider
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
            output.innerHTML = this.value;
        }

        document.getElementById("openNav").addEventListener("click", openNav);
	
	var dropdown = document.getElementsByClassName("dropdown-btn");
	var i;

	for (i = 0; i < dropdown.length; i++) {
  		dropdown[i].addEventListener("click", function() {
    		this.classList.toggle("active");
    		var dropdownContent = this.nextElementSibling;
    		if (dropdownContent.style.display === "block") {
      			dropdownContent.style.display = "none";
    		} else {
      			dropdownContent.style.display = "block";
    		}
  		});
	}
    </script>
   
</body>
</html> 
