<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Map Testing</title>
    <link rel = "stylesheet" href = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css"/>
    <link rel = "stylesheet" href = "menucss.css"/>
</head>
<body>

    <!-- inside the sidebar -->
    <!-- just temporary I want to have sliders or checkboxes -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div style="color:rgb(196, 196, 196);">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            <p>Value: <span id="demo"></span></p>
            <input type="checkbox" id="choice1" name="choice1" value="C1">
            <label for="choice1">Choice1</label><br>
            <input type="checkbox" id="choice2" name="choice2" value="C2">
            <label for="choice2">Choice2</label><br>
            <a href="#">Reset</a>
            <a href="#">Help</a>
            <a href="#">About</a>
        </div>
    </div>

    <!-- sidebar button -->
    <div id="main">
        <span id='openNav' style="font-size:30px;cursor:pointer">&#9776;</span>
    </div>

    <!-- for the actual map -->
    <div id = "map" style = "margin:auto;"></div>
    <button id="chngLayer">Layer</button>

    <!-- js for the map -->
    <script src = "http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

    <script src="map.js"></script>
    <script src="marker.js"></script>
    <script>
        // js for sidebar
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
            document.getElementById("main").style.opacity = 0;
        }
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft= "0";
            document.body.style.backgroundColor = "white";
            document.getElementById("main").style.opacity = 1;
        }
        
        // js for slider
        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
            output.innerHTML = this.value;
        }

        document.getElementById("openNav").addEventListener("click", openNav);
    </script>
   
</body>
</html> 