<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Route-Planner</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menucss.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <!-- inside the sidebar -->
    <!-- just temporary I want to have sliders or checkboxes -->
    <div id="mySidenav" class="sidenav">
        <div style="color:rgb(196, 196, 196);">
            <img src="{{ url_for('static', filename='images/sidenav/sidenav_MSK_lines_logo.png') }}" alt="Logo is here" class="center" />
            <span id="closeNav" class="closebtn">&times;</span>
            <button class="dropdown-btn">
                Transport
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container-1 transport-container">
                <div class="choice-container">
                    <div class="transport-choice">
                        <input type="radio" id="walk" name="transport" value="walk">
                        <label for="walk">Walking</label>
                        <img src="{{ url_for('static', filename='images/sidenav/Walking_clear_icon.png') }}" class="center" />
                    </div>
                    <div class="transport-choice">
                        <input type="radio" id="bike" name="transport" value="bike">
                        <label for="bike">Biking</label>
                        <img src="{{ url_for('static', filename='images/sidenav/bicycle_clean_icon.png') }}" alt="bike icon is here" class="center" />
                    </div>
                    <div class="transport-choice">
                        <input type="radio" id="bus" name="transport" value="bus">
                        <label for="bus">Bus</label>
                        <img src="{{ url_for('static', filename= 'images/sidenav/bus_clear_icon.png') }}" alt="bus icon is here" class="center" />
                    </div>
                    <div class="transport-choice">
                        <input type="radio" id="bike-bus" name="transport" value="bike-bus">
                        <label for="bus">Bike and Bus</label>
                    </div>
                </div>
            </div>
            <button class="dropdown-btn">
                Road Types
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container-2">
                <ul id="road_type_list">
                    <li>
                        <label>Road Speed Limit</label>
                        <input type="range" id="myRange" name="Speed Limit" min="25" max="60" step="5">
                        <br>
                        <output id="demo"></output>
                        <br>
                    </li>
                    <li>
                        <label>Car Avoidance</label>
                        <input type="range" id="myRange" name="car avoidance" min="1" max="3">
                        <br>
                        <output id="demo">Low - High</output>
                        <br>
                    </li>
                    <li>
                        <label>Bike Lane Preference</label>
                        <input type="range" id="myRange" name="Bike Lane Preference" min="1" max="3">
                        <br>
                        <output id="demo">Low - High</output>
                        <br>
                    </li>
                    <li>
                        <label>Sidewalk Preference</label>
                        <input type="range" id="myRange" name="Sidewalk Preference" min="1" max="3">
                        <br>
                        <output id="demo">Low - High</output>
                        <br>
                    </li>
                </ul>
            </div>
            <button class="dropdown-btn">
                Amenities
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-container-3">
                <div class="amen-choice">
                    <input type="checkbox" id="Grocery_Stores" name="Grocery_Stores">
                    <label for="Grocery Stores">Grocery Stores</label>
                </div>
                <div class="amen-choice">
                    <input type="checkbox" id="Businesses" name="Businesses">
                    <label for="Businesses">Businesses</label>
                </div>
                <div class="amen-choice">
                    <input type="checkbox" id="Community_Hubs" name="Community_Hubs">
                    <label for="Community Hubs">Community Hubs</label>
                </div>
                <div class="amen-choice">
                    <input type="checkbox" id="Health_and_Wellness" name="Health_and_Wellness">
                    <label for="Health and Wellness">Health and Wellness</label>
                </div>
                <div class="amen-choice">
                    <input type="checkbox" id="Bike_Shops,_Repair_Stations" name="Bike_Shops,_Repair_Stations">
                    <label for="Bike Shops/Repair Stations">Bike Shops/Repair Stations</label>
                </div>
                <div class="amen-choice">
                    <input type="checkbox" id="Bike_Parking,_Bathrooms,_Drinking_Fountains" name="Bike_Parking,_Bathrooms,_Drinking_Fountains">
                    <label for="Bike Parking/Restrooms">Bike Parking/Restrooms</label>
                </div>
                <div class="amen-choice">
                    <input type="checkbox" id="Worlds_of_Wonder" name="Worlds_of_Wonder">
                    <label for="World of Wonders">Worlds of Wonder</label>
                </div>
				<!--
                <div class="amen-choice">
                    <input type="checkbox" id="pharma" name="pharmacies">
                    <label for="pharmacies">Pharmacies</label>
                </div>
                <div class="amen-choice">
                    <input type="checkbox" id="cafe" name="cafe">
                    <label for="cafe">Cafe</label>
                </div>
                <div class="amen-choice">
                    <input type="checkbox" id="restaurants-bar" name="restaurants-bar">
                    <label for="restaurant-bar">Restaurants/Bars</label>
                </div>
                <div class="amen-choice">
                    <input type="checkbox" id="treat-shop" name="treat-shop">
                    <label for="treat-shop">Treat/Ice Cream Shops</label>
                </div>
                <div class="amen-choice">
                    <input type="checkbox" id="books" name="books">
                    <label for="books">Libraries/Book Stores</label>
                </div>
				--!>

            </div>
            <h1 id="calculate">Calculate Route</h1>
            <h1 id="help">Help</h1>
            <h1 id="about">About</h1>
        </div>

    </div>
    <!-- sidebar button -->
    <div id="main">
        <span id='openNav' style="font-size:30px;cursor:pointer">&#9776;</span>
    </div>
    <div id="help_content" class="white_content">
        <span id="closeHelp" class="closebtn closePopUp">&times;</span>
        <h2>Help</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita ipsa totam. Saepe sit consequatur mollitia qui at commodi rerum velit dicta alias? Voluptates eius quasi ipsa adipisci dolore nam quas temporibus exercitationem voluptate vero, animi doloremque, a, voluptas inventore.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum cupiditate fuga fugit doloribus soluta.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eum, amet reiciendis ipsum saepe tempore veniam error nesciunt rerum porro natus ut nostrum quos inventore in blanditiis facilis nisi doloribus.
        </p>
    </div>
    <div id="about_content" class="white_content">
        <span id="closeAbout" class="closebtn closePopUp">&times;</span>
        <h2>About</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum expedita ipsa totam. Saepe sit consequatur mollitia qui at commodi rerum velit dicta alias? Voluptates eius quasi ipsa adipisci dolore nam quas temporibus exercitationem voluptate vero, animi doloremque, a, voluptas inventore.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum cupiditate fuga fugit doloribus soluta.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque eum, amet reiciendis ipsum saepe tempore veniam error nesciunt rerum porro natus ut nostrum quos inventore in blanditiis facilis nisi doloribus.
        </p>
    </div>
    <div id="fade" class="black_overlay"></div>
    <!-- for the actual map -->
    <div id="map" style="margin:auto;"></div>
    <button id="chngLayer">Layer</button>

    <!-- js for the map -->
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="{{ url_for('static', filename='javascript/map.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/marker.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/navbar.js') }}"></script>
</body>
</html>
