body {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100vh;
    width: 100vw;
    display: grid;
}

img.logo {
    display: flex;
    max-height: 150px;
    margin-left: auto;
    margin-right: auto;
}
img.center {
    margin: 0 10px
}

img.middle {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2000;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
    opacity: .8;
}

.closebtn, .sidenav h1, .dropdown-btn, #update, #export-gpx {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    text-align: left;
    background: none;
    font-size: 25px;
    color: #818181;
    display: block;
    margin: 0;
    font-weight: normal;
    transition: 0.3s;
}

.closebtn:hover, .sidenav h1:hover, .dropdown-btn:hover, #update:hover, #export-gpx:hover {
    cursor: pointer;
}

.sidenav h1:hover, .dropdown-btn:hover, #update:hover, #export-gpx:hover {
    color: #f1f1f1;
}

.transport-container p {
    align-self: center;
}

#closeAbout, #closeHelp {
    justify-self: end;
    padding: 8px;
}

.searchform {
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: 2% 10%;
}

.searchform > * {
    margin: 7px;
}

.black_overlay {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
}

.white_content {
    display: none;
    position: fixed;
    justify-self: center;
    align-self: center;
    grid-template-rows: 40px 50px 1fr;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 8px solid orange;
    border-radius: 5px;
    background-color: white;
    z-index: 2004;
    overflow: auto;
}

.white_content h2 {
    justify-self: center;
    font-weight: normal;
}

input[type=range] {
    appearance: none;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(0deg);
}
input[type=range]::-webkit-slider-runnable-track {
    height: 4em;
    background: white;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    background-color: green;
    width: 2rem;
    height: 8.75em;
    margin-top: -16px;
}

/* firefox slider */
input[type='range']::-moz-range-track {
    width: 7em;
    height: 12em;
    background-color: white;
    border-radius: 3px;
}
input[type="range"]::-moz-range-thumb {
    appearance: none;
    background-color: green;
    height: 2rem;
    width: 9rem;
    border-radius: 0;
}

#risk-fact {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.leaflet-div-icon {
    background: none;
    border: none;
}

.dropdown-btn {
    border: none;
    background-color: #111;
    width: 100%;
    padding: 10px 16px
}

.sidenav .closebtn {
    display: flex;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav h1, #update, #export-gpx {
    padding: 10px 16px
}

.active {
    color: white;
}

.dropdown-container-1 {
    display: none;
    padding: 10px 0;
}
.transport-btn.active {
    background-color: #f51702;
}

.dropdown-container-2 {
    display: none;
    padding: 10px 0;
    height: 14em
}
.road-btn.active {
    background-color: #0a911c;
}

.dropdown-container-3 {
    display: none;
    padding: 10px 0;
}
.amen-btn.active {
    background-color: #0d3591;
}

.choice-container {
    padding-inline-start: 20px
}

/* transport choices */
.transport-choice {
    display: flex;
    justify-content: left;
    height: 25px
}

.transport-choice > label {
    align-self: center;
}

ul {
    list-style-type: none;
    padding-inline-start: 20px;
    margin: 0 5px;
    padding: 0 10px
}

li {
    margin: 5px 0;
    display: flex;
    flex-direction: column;
}

/* road choices */
.road-choice {
    display: flex;
    justify-content: left;
}

#main {
    transition: .5s;
    padding: 16px;
    position: absolute;
    z-index: 2000;
}

#chngLayer {
    box-shadow: 0 1px 10px rgb(0 0 0 / 65%);
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    z-index: 400;
    border-radius: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
  and (min-resolution:.001dpcm) {
    #myRange {
        margin-top: 65px;
        width: 15em
    }
    #low {
        position: relative;
        bottom: -167px
    }
}

@-moz-document url-prefix() {
    #myRange {
      margin-top: 0;
      width: 8rem;
      height: 16em
    }
    #high-low {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }
  }